<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/resume.css">
    <meta name="viewport" content="width=device-width">
</head>
<body>
   <div id="nameheader">
            <span id="name">Mandar Palkar </span>
            <span id="links"> </span>
   </div>
    <div id="webpage">
        <div>
            <div id="image-intro">
                <div id="per-image">  
                </div>
                <div id="details">
                  <ul>
                    <li>DOB:<br>13<sup>th</sup>&nbsp;April&nbsp;1994</li>
                    <li>From:<br>Mumbai,India</li>
                    <li>Looking for:<br>Technical internship</li>
                  </ul>
                </div>
            </div>
        <div id="skill-qualifications">
          <div class="skill">
              <div class="skill-header">
              <span>About Me</span>
              </div>
              <div class="skill-info">
                Passionate programmer with intermediate programming experience.<br>
                Ardent web developer & a Linux enthusiast.<br>
                Believes in simple principle "Learn it by doing it".
                
              </div>
            </div>
          <div class="skill">
               <div class="skill-header">
               <span>Qualification</span>
              </div>
              <div class="skill-info">
              An Information Technology engineering undergrad at Mumbai university.Will complete it by May 2015.
              </div>
            </div>
          <div class="skill">
              <div class="skill-header">
               <span>knowledge equipped</span>
              </div>
              <div class="skill-info">
               <div class="lang"><span>Languages : Python, Java, C++</span></div>
                <div class="lang"><span>Web Development: HTML ,CSS3, JavaScript, JSP ,PHP</span></div>
                <div class="lang"><span>Framework : webapp2(Python)</span></div>
                <div class="lang"><span>Operating Systems : Ubuntu , Windows.</span></div>
                <div class="lang"><span>Others : Google App Engine , GIMP</span></div>       
            </div>

          
          </div>
          <div class="skill">
              <div class="skill-header">
               <span>Areas of Interest</span>
              </div>
              <div class="skill-info">
               <div class="lang"><span>Algorithms</span></div>
                <div class="lang"><span>Web Development</span></div>
                <div class="lang"><span>Artificial Intelligence</span></div>
                       
            </div>

          
          </div>
      </div>
          </div>
      </div>
</body>
</html>